@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply w-[80%] mx-auto overflow-hidden max-w-screen-xl z-0;
    }
}

.bg-circuito {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg'); 
}

.bg-about-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/img/blake-connally-IKUYGCFmfw4-unsplash.jpg'); 
}

.bg-cursos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/img/kaleidico-26MJGnCM0Wc-unsplash.jpg'); 
}

.bg-servicios {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/img/pankaj-patel-Fi-GJaLRGKc-unsplash.jpg'); 
}

/* body {
    background-image: radial-gradient(#dadada 1.5px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
} */